body {
	/* font-family: Calibri, Segoe, "Segoe UI", "Gill Sans", "Gill Sans MT", sans-serif; */
}

.card-upload {
	/* border: 1px solid #04a9f5; */
	/* border: 1px solid #ced4da; */
	border-bottom: 1px solid #ced4da;
	padding-bottom: 0.7em;
	/* background-color: #f4f7fa; */
	/* padding: 0.7em; */
	/* border-radius: 4px; */
}

.card-upload > div > img {
	margin-top: 8px;
	/* border: 1px solid #ced4da; */
}

.card-order {
	padding-top: 8%;
	padding-bottom: 4%;
	/* background-color: #000; */
	/* text-align: center; */
}

.badge-primary-2 {
	color: #fff;
	background-color: #04a9f5;
	border-color: #04a9f5;
}

.badge-primary-2:hover {
	color: #fff;
	background-color: #038fcf;
	border-color: #038fcf;
}

.btn-view-detail-user {
	font-size: 13px;
	cursor: pointer;
	margin: 0 !important;
	padding: 1px 3px 1px 3px !important;
}

.btn-delete-modif {
	font-size: 15px;
	cursor: pointer;
	margin: 0 !important;
	padding: 5px 8px 5px 8px !important;
}

.img-upload {
	transition: transform 0.4s;
}

.img-upload:hover {
	transform: scale(1.3);
}

.file-upload {
	width: 60%;
}

.table-new {
	width: 1000px;
	table-layout: fixed;
}

.new-td {
	word-wrap: break-word;
}

/* CSS TOOLTIP COPY */
.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 140px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
/* CSS TOOLTIP COPY */

.r-no-margin {
	margin: 0px !important;
}

.red {
	color: red;
}

.txt-100 {
	width: 80px;
}

.txt-edit-id {
	margin-top: 5px;
	border-radius: 5px;
	border: 1px solid #038fcf;
}

.table {
	font-size: 13px !important;
}

@media only screen and (max-width: 426px) {
	.name-header {
		display: none !important;
	}
	.file-upload {
		width: 100%;
	}
}

/* form order */
.title-form {
	vertical-align: middle;
	text-align: center;
	color: #000;
	font-size: 26px;
	font-weight: 900;
	padding: 40px 10px 20px 10px;
}
/* form order */

.to-center {
	text-align: center;
}

.f-10 {
	font-size: 10px !important;
}
.f-11 {
	font-size: 11px !important;
}
.f-12 {
	font-size: 12px !important;
}
.red-them {
	color: #f44236;
}
.del-sub:hover {
	cursor: pointer;
}
.tag-order {
	color: #111;
}
.tag-order:hover {
	color: #04a9f5;
	font-weight: 500;
}

table > tbody > tr > td {
	white-space: nowrap;
	font-size: 12px;
}